html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	left:0;
	top:0;
}
.map_btn {
	position: absolute;
	z-index: 10;
	font-size: 50px;
	color: black; 
	border:1px solid black; 
	background-color: rgba(255,255,255,0.8);
}
.zoomin {
	left: 85%;
	top: 82%;
}
.zoomout {
	left: 85%;
	top: 89%;	
}
.fullscreen {
	left: 85%;
	top:72%;
}
.left {
	left:5%;
	top:82%;
}
.up{
	left:17%;
	top: 73%;
}
.right {
	left:29%;
	top:82%;
}
.down {
	left:17%;
	top:91%;
}
.mapContainer{
	height: 80%;
	padding: 20px;
	position:relative;
}
.favoriteList{
	list-style: none;
}
.favoriteList li{
}
.favoriteList span{
	color:#FF5D78; 
	font-size:30px;
	float: left;
}
.favoBtn {
	font-size: 27px;
}
#demo {
	padding-left: 40px;
	font-size: 20px;
}
.header {
	width: 100%;
	height: 120px;
	background-color: #0A1A30;
	color: white;
	font-size:40px;
	font-family: "Lucida Console";
	padding-top: 30px;
	text-align: center;
}
