.chatContainer{
	background: lightyellow;
	width: 90%;
	height: 50%;
	border: 1px solid black;
	margin-top: -10px;
	padding-top: 0;
}

#inputMsg {
	background-color: white;
	border:1px solid grey;
	width: 68%;
}
#sendBtn{
	width: 20%;
	margin-left: 5px;
	text-align: center;
}
#msgScreen {
	width: 100%;
	height: 200px;
	background: yellow;
	overflow-y: scroll;
}