.chatContainer{
	background: lightyellow;
	width: 90%;
	height: 50%;
	border: 1px solid black;
	margin-top: -10px;
	padding-top: 0;
}

#inputMsg {
	background-color: white;
	border:1px solid grey;
	width: 60%;
}
#sendBtn{
	margin-left: 5px;
	text-align: center;
}
#msgScreen {
	width: 50%;
	height: 380px;
/*	border: 1px solid grey;
*/	background: lightgrey;
	overflow-y: auto;
}

#msgScreen div{
	font-size: 16px;
	padding-left: 2px;
	color: grey;
}

#msgScreen p{
	padding-left: 10px;
}

#nickinput {
	width: 50%;
}

#nickbtn {
margin-left: 5px;
font-size: 15px;
}
